parameters:
	ignoreErrors:
		-
			message: '#^Method Psr\\Log\\AbstractLogger@anonymous/src/Command/LoadDataFixturesDoctrineCommand\.php\:120\:\:log\(\) has parameter \$message with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Command/LoadDataFixturesDoctrineCommand.php

		-
			message: '#^Method Doctrine\\Bundle\\FixturesBundle\\Loader\\SymfonyFixturesLoader\:\:createFixture\(\) has parameter \$class with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Loader/SymfonyFixturesLoader.php

		-
			message: '#^Constructor of class Doctrine\\Bundle\\FixturesBundle\\Tests\\Fixtures\\FooBundle\\DataFixtures\\RequiredConstructorArgsFixtures has an unused parameter \$fooRequiredArg\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Fixtures/FooBundle/DataFixtures/RequiredConstructorArgsFixtures.php

		-
			message: '#^Method Doctrine\\Bundle\\FixturesBundle\\Tests\\IntegrationTestKernel\:\:registerBundles\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/IntegrationTestKernel.php
